.env
node_modules/
dist/
uploads/
scripts/firebase-config.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporarily added because of some weird issue on my machine
~

keys.json
